@font-face {
  font-family: ComicMono;
  src: url("/ComicMono.ttf")
}

@font-face {
  font-family: Excalifont;
  src: url("/Excalifont-Regular.woff2")
}

@tailwind base;
@tailwind utilities;
@tailwind components;

#noscript {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 1vw;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: red;
  border-color: red;
  border-radius: 4px;
  border-style: solid;
  font-size: xx-large;
}
